*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient-background {
    background: linear-gradient(-90deg, #A4BFEF, #6A93CB, #2A2A72 );
    background-size: 200% 200%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }

  h1{
    font-style: italic;
    margin-bottom: 10%;
  }